html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(rgba(134, 152, 216, 0.7), rgba(12, 88, 169, 0.7));
    background-size: cover;
    font-family: 'Open Sans', sans-serif; /* Assuming 'Open Sans' is used on the profile page */
    color: #333; /* Default text color for readability */
}

.container {
    padding-top: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: #fff; /* Match the card background color */
    padding: 20px; /* Consistent padding with the profile card */
    border-radius: 8px; /* Match the card border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Consistent shadow with the profile card */
}

/* Header Styles */
h2 {
    font-family: 'Questrial', sans-serif; /* Assuming 'Questrial' is used for titles on the profile page */
    color: #1936B6; /* Dark blue for thematic consistency */
    margin-bottom: 1.5rem;
}

/* Form and Input Styles */
.form-label {
    font-weight: bold; /* Emphasize the label */
    color: #1936B6; /* Thematic color for labels */
    margin-bottom: .5rem;
}

.form-control {
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* Schedule Block Styles */
.schedule-block {
    background-color: #f8f9fa; /* Light background for contrast */
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6; /* Slight border for definition */
}

.schedule-block label {
    font-weight: bold; /* Emphasize the label */
    margin-bottom: 0.5rem; /* Space below label */
}

/* Time Input and Button Alignment */
.d-flex {
    align-items: center; /* Align items vertically */
    gap: 10px; /* Space between form elements */
}

/* Button Styles */
.btn-primary, .btn-secondary, .btn-danger {
    margin: 0.5rem 0; /* Space around buttons */
}

#add-schedule {
    display: block; /* Ensure it's block level for full width */
    width: 20%; /* Full width button */
}

@media (max-width: 768px) {
    .time-input, .form-control {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .btn {
        width: 100%; /* Full width buttons for smaller screens */
    }
}
