/*-------------------------------------
 * NAVBAR
 *-------------------------------------
 */
.material-icons {
    font-size: 24px; /* Icon size */
}

.nav-text {
    font-size: 0.75rem; /* Smaller text size */
    display: block; /* Display as block for alignment */
}

/* Additional styles for navbar */
.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 8px 0; /* Adjust the padding as needed */
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}