body {
    background: linear-gradient(rgba(134, 152, 216, 0.7), rgba(12, 88, 169, 0.7));
    font-family: 'Open Sans', sans-serif;
    padding-top: 0px;
    min-height: 100vh;
}

.container {
    border: 2px white solid;
    /* background-color: #ffffff; */
    padding: 30px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    max-width: 400px;
}


h2 {
    color: white;
    /* margin-bottom: 1.5rem; */
}

.form-label {
    font-weight: bold;
    color: white;
    text-shadow: 0.1px 0.1px 0.1px black;
    /* color: #1936B6; */
}


.btn .btn-primary{
    background-color: #3688d8;
    border: none;
}

.form-check-label {
    color: white;
    text-shadow: 0.1px 0.1px 0.1px black;
}

.btn-primary:hover {
    background-color: #1654b4;
}

.w-100 {
    width: 100%;
}


#create_account {
    color: white;
    text-shadow: 0.1px 0.1px 0.1px black;
    letter-spacing: 2px;
}

#register_btn{
    color: white;
    border: 2px white solid;
    background-color: transparent;
    letter-spacing: 2px;

}



@media (max-width: 768px) {
    .container {
        padding: 15%;
    }
}
